<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>로그인 페이지입니다</h1>
    <form action="/users/login" method="post">
      <input placeholder="아이디" type="text" name="userId" />
      <br />
      <input placeholder="비밀번호" type="password" name="userPassword" />
      <br />
      <button type="submit">로그인</button>
    </form>

    <a href="/user/signup">
      <button>회원가입</button>
    </a>
  </body>
</html>
